.singlePhoto {
    max-width: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    margin-top: 30px;
    border-radius: 3px;
}

@media screen and (max-width: 480px) {
    .singlePhoto {
        width: 65vw;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .singlePhoto {
        width: 65vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .singlePhoto {
        width: 65vw;
    }
}
