#map {
    height: 250px;
    width: 100%;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 480px) {
    #map {
        width: 90vw;
    }

    #map-canvas {
        width: 90vw;
    }

}
