/* .businessPhotoHeader {
    max-width: 100%;
    height: 425px;
} */


/* .businessPhotoHeader img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
} */

/* .businessPhotoHeaderImg {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.businessPhotoHeader::before {
    content: '';
    z-index: 1;
    width: 100%;
    height: 425px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.businessHeader {
    position: relative;
    margin: auto;
    bottom: 58%;
    z-index: 1;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: 80vw;
    max-width: 1125px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
} */

/* .businessHeader h1 {
    font-weight: bold;
    margin-bottom: -8px;
    font-size: 40px;
    color: #FFFFFF;
} */

.businessPhotoHeader {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust based on your design */
    overflow: hidden; /* Ensures the content stays within the container */
}

.businessPhotoHeaderImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the container without distortion */
    z-index: -2;
}

.businessPhotoHeader::before {
    content: '';
    z-index: -1;
    width: 100%;
    height: 425px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.businessHeader {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 1125px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    padding: 10px 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: 500;
    z-index: 1;
}

.businessHeader h1 {
    margin: 0;
    max-width: 100%;
    font-weight: bold;
    margin-bottom: -8px;
    font-size: 40px;
    color: #FFFFFF;
}


.currHours {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.seeHours {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.seeHours:hover,
.seeAllPhotos button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.bizDeetsButton button:hover {
    background-color: rgba(195, 205, 233, 0.4);
}

.seeAllPhotosSection {
    display: grid;
    justify-content: end;
}

.seeAllPhotos {
    /* position: relative; */
    /* left: 30vw; */
    /* bottom: 50%; */
    z-index: 11;
    /* padding: 5px 5px 0px 5px; */
    width: fit-content;
    align-content: end;
    justify-content: end;
    text-wrap: nowrap;
}

.seeAllPhotos button {
    padding: 13px 30px 13px 30px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.businessPhotoHeader .paws-filled,
.businessPhotoHeader .paws-unfilled {
    font-size: x-large !important;
    margin: 0px 3px;
}


.businessPhotoHeader .pawBlock {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #FFFFFF !important;
    width: fit-content !important;
    padding: 3px 6px 3px 6px !important;
    border-radius: 5px !important;
    align-items: center;
    justify-content: center;
    /* column-gap: 5px; */
}

.businessReviews {
    display: flex;
    align-items: center;
}

.businessReviews span {
    background-color: none;
}

.businessReviews_first {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.priceSubcat {
    margin-top: -3px;
}

.businessContainer {
    max-width: 1125px;
    padding-top: 45px;
    margin: auto;
    display: flex;
    column-gap: 35px;
}

.businessDetails {
    width: 750px;
    /* padding-right: 35px; */
}

.businessDetailsButtons {
    display: flex;
    gap: 5px;
}

.businessDetails button {
    border-radius: 3px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: #c3cddf 1px solid;
    background-color: transparent;
    color: #1f2f44;
}

.edit_delete button {
    background-color: #f78a63;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 14px;
}

.businessDetails_writeAReview button {
    color: white;
    border: #5f5ba8 1px solid;
    background-color: #5f5ba8;
}

.businessDetails_writeAReview button:hover {
    background-color: rgba(95, 91, 168, 0.9);
}

.businessDetails hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.locationHoursContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
}

.locationHours {
    width: 400px;
}

.businessAddress {
    margin-top: 5px;
}

.businessDetailsButtons div {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.businessDetailsLocation {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.hours {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 8px;
    font-weight: 500;
}

.businessContact {
    position: sticky;
    top: 20px;
    width: 365px;
    height: fit-content;
    border: #c3cddf 1px solid;
    padding: 20px;
    border-radius: 3px;
    font-weight: 500;
}

.businessWebsiteContainer,
.businessPhoneContainer,
.businessAddressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.businessContact hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.businessContactIcon {
    padding-left: 30px;
}

.businessContactIcon a {
    color: #1f2f44
}

.businessCardDetail {
    width: 290px;
    word-wrap: break-word;
}

.userInfo {
    display: grid;
    width: fit-content;
    column-gap: 20px;
    grid-template-areas:
        "avatar name"
        "avatar loc"
        "avatar stats";
    align-items: center;
    grid-auto-rows: 22px;
}

.avatar {
    grid-area: avatar;
    font-size: 60px;
    width: fit-content;
    margin-top: 15px;
}

.avatar:hover {
    cursor: pointer;
}

.reviewsLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.avatarFormat {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 60px;
    height: 60px;
}

.userName {
    color: #5f5ba8;
    grid-area: name;
    font-weight: 600;
}

.userName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.loc {
    grid-area: loc;
}

.stats {
    grid-area: stats;
    font-weight: 500;
}

.reviewImagesWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 15px;
}

.reviewImagesContainer {
    width: 100%;
    height: 225px;
}

.reviewImages {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.reviewImages:hover {
    cursor: pointer;
}


.review-text {
    max-inline-size: 690px;
    word-wrap: break-word;
    /* Break long words when necessary */
    overflow-wrap: break-word;
    /* Break words when necessary */
    white-space: pre-wrap;
    /* Preserve white space */

}

.App {
    height: 100vh;
    width: 100vw;
}

.map-container {
    height: 100%;
    width: 100%;
}

.bizContactMobile {
    display: none;
}

@media screen and (max-width: 480px) {
    /* .businessPhotoHeader {
        position: relative;
    }

    .businessHeader {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        left: 5vw;
        bottom: 20px;
        position: absolute;
        width: 90vw;
        max-width: 432px;
    } */

    .businessHeader {
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: 432px;
        gap: 20px;
    }

    .businessPhotoHeader::before {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .seeAllPhotosSection {
        justify-content: start;
    }

    .seeAllPhotos {
        left: 0;
        align-content: start;
    }

    .businessHeader h1 {
        width: 80vw;
    }

    .businessPhotoHeader::before {
        background: rgba(0, 0, 0, 0.3);
    }

    .businessContainer {
        padding: 5vw;
        column-gap: 0;
        width: auto;
    }

    .businessDetails button {
        padding: 10px
    }

    .businessDetailsButtons {
        display: flex;
        flex-direction: column;
    }

    .businessContact {
        display: none;
    }

    .bizContactMobile {
        display: flex;
        justify-content: center;
    }

    .bizContactMobile div {
        padding-top: 10px;
        width: 90px;
        display: flex;
        justify-content: center;
    }


    .businessWebsiteContainer,
    .businessPhoneContainer,
    .businessAddressContainer {
        flex-direction: column;
        padding-bottom: 0;
        text-decoration: none;
    }

    .businessWebsiteContainer a,
    .businessPhoneContainer a,
    .businessAddressContainer a {
        color: #1f2f44;
    }

    .businessContactIcon {
        padding-left: 0;
    }

    .businessContactIcon i {
        font-size: x-large;
    }

    .locationHours {
        width: 100%;
    }

    .locationHoursContainer {
        gap: 20px;
        /* justify-content: center; */
    }

    .hours {
        column-gap: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .businessHeader {
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: 690px;
        gap: 20px;
    }

    .businessPhotoHeader::before {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .seeAllPhotosSection {
        justify-content: start;
    }
    
    .businessContainer {
        padding: 5vw;
        column-gap: 0;
        width: auto;
    }

    .businessDetails button {
        padding: 10px
    }

    .businessDetailsButtons {
        display: flex;
        flex-direction: column;
    }

    .bizContactMobile {
        display: flex;
        justify-content: center;
    }

    .bizContactMobile div {
        padding-top: 10px;
        width: 90px;
        display: flex;
        justify-content: center;
    }

    .businessWebsiteContainer,
    .businessPhoneContainer,
    .businessAddressContainer {
        flex-direction: column;
        padding-bottom: 0;
        text-decoration: none;
    }

    .businessWebsiteContainer a,
    .businessPhoneContainer a,
    .businessAddressContainer a {
        color: #1f2f44;
    }

    .businessContactIcon {
        padding-left: 0;
    }

    .businessContactIcon i {
        font-size: x-large;
    }

    .locationHours {
        width: auto;
    }

    .locationHoursContainer {
        row-gap: 20px;
        /* justify-content: center; */
    }

    .hours {
        column-gap: 20px;
    }

    .businessContact {
        display: none;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    .businessContainer {
        width: 90vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .businessDetails {
        width: auto;
    }

    .businessDetails button {
        padding: 10px
    }

    .businessWebsiteContainer,
    .businessPhoneContainer,
    .businessAddressContainer {
        flex-direction: row;
        padding-bottom: 0;
        text-decoration: none;
    }

    .locationHours {
        width: 100%;
    }

    .locationHoursContainer {
        row-gap: 20px;
        /* justify-content: center; */
    }

    .hours {
        column-gap: 20px;
    }

    .businessContact {
        width: auto;
    }

    .businessCardDetail {
        width: 18vw;
        word-wrap: break-word;
    }

    .businessDetailsLocation {
        gap: 20px;
    }

}

@media screen and (min-width: 1025px) {

    .businessContainer {
        width: 90vw;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .businessDetails {
        width: auto;
        /* padding-right: 35px; */
    }
}
