.businessPhotoHeader {
    max-width: 100%;
    height: 425px;
}


.businessPhotoHeader img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.businessPhotoHeader::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 425px;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 50%);
}

.businessHeader {
    position: relative;
    left: 16%;
    bottom: 58%;
    z-index: 1000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: 500;
    width: fit-content;
}

.businessHeader h1 {
    font-weight: bold;
    margin-bottom: -8px;
    font-size: 40px;
    color: #FFFFFF;
}

.currHours {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.seeHours {
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px 8px 3px 8px;
    border-radius: 3px;
}

.seeAllPhotos {
    position: relative;
    left: 76%;
    bottom: 71%;
    z-index: 1000;
    padding: 5px;
    width: fit-content;
}

.seeAllPhotos button {
    padding: 13px 30px 13px 30px;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.paws-filled,
.paws-unfilled {
    font-size: x-large;
}

.pawBlock {
    background-color: #FFFFFF;
    width: fit-content;
    padding: 10px 6px 3px 6px;
    border-radius: 5px;
}

.businessReviews span {
    background-color: none;
}

.businessReviews_first {
    font-size: 18px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.priceSubcat {
    margin-top: -3px;
}

.businessContainer {
    max-width: 1125px;
    padding-top: 45px;
    margin: auto;
    display: flex;
}

.businessDetails {
    width: 750px;
    padding-right: 35px;
}

.businessDetails button {
    border-radius: 3px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: #c3cddf 1px solid;
    background-color: transparent;
}

.businessDetails_writeAReview {
    color: white;
    border: #5f5ba8 1px solid !important;
    background-color: #5f5ba8 !important;
}


.businessDetails hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.locationHours {
    display: flex;
    gap: 30px;
}

.businessContact {
    position: sticky;
    top: 20px;
    width: 365px;
    height: fit-content;
    border: #c3cddf 1px solid;
    padding: 20px;
    border-radius: 3px;
    font-weight: 500;
}

.businessWebsiteContainer,
.businessPhoneContainer,
.businessAddressContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.businessContact hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.businessContactIcon {
    padding-left: 30px;
}

.businessContactIcon a {
    color: #1f2f44
}

.businessCardDetail {
    width: 290px;
    word-wrap: break-word;
}

.userInfo {
    display: grid;
    width: fit-content;
    column-gap: 20px;
    grid-template-areas:
        "avatar name"
        "avatar loc"
        "avatar stats";
    align-items: center;
    grid-auto-rows: 22px;
}

.avatar {
    grid-area: avatar;
    font-size: 60px;
    width: fit-content;
    margin-top: 15px;
}

.avatarFormat {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 60px;
    height: 60px;
}

.userName {
    grid-area: name;
    font-weight: 600;
}

.loc {
    grid-area: loc;
}

.stats {
    grid-area: stats;
    font-weight: 500;
}

.reviewImagesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.reviewImagesContainer {
    width: 300px;
    height: 225px;
}

.reviewImages {
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}
