#full-user-page {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    /* width: fit-content; */
    max-width: 1125px;
    margin: auto;
    padding-top: 30px;
}


.user-summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px 20px 0;
    width: 220px;
    height: 220px;
    border: 1px solid #c3cddf;
    border-radius: 5px;

}

.user-summary-container:hover {
    cursor: default
}

.user-summ-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.user-summary-container>h5 {
    margin: 0;
}

.user-summ-stat-item {
    margin: 0;
    padding: 0;

    /* flex-direction: row; */
}

.user-navigation-container {
    display: flex;
    flex-direction: column;

    margin: 20px;
    width: 140px;
}

.single-user-navigation {
    display: inline-block;
    border-bottom: 1px solid #c3cddf;
    margin: 0;

    padding: 10px 0;

    /* display: flex;
    flex-direction: row; */
    width: 150px;

    /* justify-content: spa; */
}

.single-user-navigation:nth-child(3) {
    border-bottom: none;
}

.nav-description:hover {
    background-color: #c3cddf;
    border-radius: 5px;
    cursor: pointer;
}

.nav-description {
    padding: 10px 5px;
    width: 140px;
}


i.fa-paw {
    display: inline-block;
}


h4.nav-description,
h5 {
    display: inline-block;

}

h4.nav-description {
    margin: 0;
}

img.pfp {
    max-height: 5em;
    max-width: 5em;
    border-radius: 50%;

    /* justify-content: center; */
}


/* end of user side bar css for positioning, start of styling for specific pages */


/* .sub-pages {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 3% 0% 0% 5%;
} */

#user-overview-contaner {
    width: auto;
}

#user-overview-container:hover {
    cursor: default;
}
