.signUpModal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 455px;
}

.signUpModal input {
  margin: 10px 0;
}

.signUpModal button {
  margin: 10px 0;
}

.signUpModal select {
  margin: 10px 0;
}
