.manBizCards {
  display: flex;
  border: 1px solid #1f2f44;
  padding: 10px;
  margin-bottom: 20px;
  width: fit-content;
  border-radius: 10px;
}

.manBizCards:hover {
  box-shadow: 3px 3px 10px .5px;
}

.manBizImage {
  height: 160px;
  width: 180px;
  padding: 10px;
}

.manBizPage {
  margin: auto;
  padding-top: 30px;
  max-width: 800px;
}

.manBizDeets {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  padding: 10px 0 0 20px;
  width: 300px;
}

.bizandbutton {
  display: flex;
}

.manage-dropdown {
  background-color: #FFFBF6;
  width: fit-content;
  height: 100px;
  display: grid;
  border-radius: 5px;
  padding: 18px;
  position: absolute;
}

.manage-dropdown button {
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500 !important;
  color: #1f2f44 !important;

}

.manbutton {
  margin: 0 15px;
}

.manageMenu {
  border: 1px solid #1f2f44;
  border-radius: 50%;
  color: #1f2f44;
  background-color: transparent;

}

.manageMenu:hover {
  box-shadow: #5f5ba8 1px 1px 5px .5px;
}

.updateBiz {
  margin: auto;
  /* border-bottom: #d8c3c3 1px solid; */
}

.deleteBiz {
  margin: auto;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.login-prompt {
  display: flex;
  margin: auto;
}

.no-biz {
  display: flex;
  flex-direction: column;
  margin:auto;
}
