.createBizForm {
  display: flex;
  flex-direction: column;
  max-width: 415px;
  margin: auto;
  padding-top: 30px;
  row-gap: 15px;
}

.errors {
  color: #c24830;
  font-weight: 500;
  margin-top: -14px;
  margin-left: -3px;

}

.errorsImage {
  color: #c24830;
  font-weight: 500;
}

.imageInput {
  width: 413px;
}

.hidden {
  display: none;
}

.hoursForm {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(7, 1fr);
  align-items: center;
  row-gap: 5px;
}
