.businessCards {
  display: flex;
  width: 700px;
  border: 1px solid #1f2f44;
  align-content: center;
  padding: 15px 10px 10px 10px;
  margin-left: 300px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
}

.businessCards:hover {
  box-shadow: 3px 3px 10px .5px;
}


.businessesImage {
  height: 200px;
  width: 300px;
  padding: 20px;
}


.businessDeets {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  padding: 20px 20px 0 0;

}

.pawRatingInputFilter > h4 {
  margin: 2px 0;
}

.pawRatingInputFilter {
  border-bottom: 1px solid #c3cddf;
  padding-bottom: 20px;
}

.price-filled {
  color: #5f5ba8;
}

.price-unfilled {
  color: #c3cddf;
}

.priceInputFilter > h4 {
  margin: 2px 0;
}

.priceInputFilter {
  padding: 15px 0;
  border-bottom: 1px solid #c3cddf;
  margin-bottom: 10px;
}


.filterComponent {
  display: flex;
  width: 180px;
  flex-direction: column;
  position: absolute;
  margin-top: -19px;
}

.searchPage {
  padding-left: 25px;
}

.categoryFilter {
  padding-bottom: 30px;
  border-bottom: 1px solid #c3cddf;
  margin-bottom: 10px;
}
