.businessCards {
  display: flex;
  width: 700px;
  border: 1px solid #1f2f44;
  align-content: center;
  padding: 5px;
  margin-left: 300px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}

.businessCards:hover {
  box-shadow: 2px 2px 5px .05px;
}

.businessesImageWrapper {
  width: 300px;
  height: 225px;
  padding: 20px 25px 20px 20px;
}

.businessesImage {
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
  width: 300px;
  height: 225px;
}

.businessDeets {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-wrap: wrap;
  padding: 10px 15px 0 0;
  color: #1f2f44 !important;
  font-weight: 300 !important;
}

.businessDeets h2 {
  margin-bottom: 0px;
  color: #5f5ba8 !important;
}

.pawRatingInputFilter>h4 {
  margin: 2px 0;
}

.pawRatingInputFilter {
  border-bottom: 1px solid #c3cddf;
  padding-bottom: 15px;
}

.pawRatingInputFilter:hover {
  cursor: pointer;
}

.price-filled {
  color: #5f5ba8;
}

.price-unfilled {
  color: #c3cddf;
}

.priceInputFilter>h4 {
  margin: 2px 0 10px;
}

.priceInputFilter {
  padding: 15px 0;
  border-bottom: 1px solid #c3cddf;
  margin-bottom: 10px;
}


.filterComponent {
  display: flex;
  width: 200px;
  flex-direction: column;
  position: absolute;
  margin-top: -19px;
}

.searchPage {
  /* padding-left: 25px; */
  padding-top: 20px;
  max-width: 1125px;
  margin: auto;
}

.categoryFilter {
  padding-bottom: 15px;
  border-bottom: 1px solid #c3cddf;
  margin-bottom: 10px;
}

.noBiz {
  display: flex;
  width: 500px;
  align-content: center;
  margin-left: 400px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: large;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.filter-buttons button {
  margin-top: 10px;
}

.apply-filter-button {
  border-radius: 3px;
  padding: 12px 16px 12px 16px;
  font-size: 16px;
  font-weight: 600;
}

.clear-filter-button {
  border-radius: 3px;
  padding: 12px 16px 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border: #c3cddf 1px solid;
  background-color: transparent;
  color: #1f2f44;
}


.starsSearch {
  width: 100px;
  height: 26px;
}

.rating-input {
  margin: 10px 0 0;
  display: flex;
  flex-direction: row;
  align-content: center;
}


.priceInputFilter input:hover {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.categoryFilter>h4 {
  margin: 10px 0 10px;
}
