.businessCards {
  display: flex;
  width: 700px;
  border: 1px solid black;
  justify-content: space-between;
  align-content: center;
  padding: 15px 10px 10px 10px;
}

.businessCards:hover {
  box-shadow: 3px 7px 35px 3px;
}


.businessesImage {
  height: 200px;
  width: 300px;
  padding: 20px;
}


.businessDeets {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  padding: 40px 20px;

}
