.review-fields {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0 1em 1em 1em;
    border: solid #5f5ba8 1px;
    background-color: #FFFBF6;
}


#review-input {
    height: 10em;
    width: 35em;
    border: none;
}


div.stars-container {
    display: flex;
    flex-direction: row;
    background-color: #FFFBF6;
    width: fit-content;
    /* padding: 3px 6px 3px 6px;
    border-radius: 5px; */
}

div.stars-container>.rating-descriptions {
    background-color: none;
}

.descriptions-container {
    align-content: center;
}

.descriptions-container paws-unfilled:hover {
    cursor: pointer;
}

#paws-and-descriptions {
    display: flex;
    flex-direction: row;
}

button,
input[type="file"] {
    width: fit-content;
    padding: 1% 2%;
}

.custom-error-page {
    margin: 2em 10em;
}
