.reviewForm {
    /* width: 500px; */
    width: 100%;
}

.review-fields {
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    width: 94%;
    padding: 0 1em 1em 1em;
    border: solid #c3cddf 1px;
    background-color: #FFFBF6;
    border-radius: 3px;
    margin-bottom: 10px;
}

.review-fields textarea {
    margin-left: -5px;
}

.review-fields textarea:focus {
    outline: none;
}


#review-input {
    height: 10em;
    /* width: 35em; */
    width: 100%;
    border: none;
}


div.stars-container {
    display: flex;
    flex-direction: row;
    background-color: #FFFBF6;
    /* width: fit-content; */
    width: 100%;
    margin-top: 10px;

    /* padding: 3px 6px 3px 6px;
    border-radius: 5px; */
}

.stars-container span:hover {
    cursor: pointer;
}

div.stars-container>.rating-descriptions {
    background-color: none;
}

.descriptions-container {
    align-content: center;
    margin-left: 8px;
}

#paws-and-descriptions {
    display: flex;
    flex-direction: row;
}

/* button,
input[type="file"] {
    width: fit-content;
    padding: 1% 2%;
} */

.custom-error-page {
    margin: 2em 10em;
}

@media screen and (max-width: 480px) {

    .reviewForm,
    .review-fields,
    #review-input,
    .descriptions-container {
        width: 95%;
    }

    .descriptions-container {
        align-content: start;
    }

    div.stars-container {
        height: fit-content;
    }
}
