.nav {
  display: grid;
  grid-template-columns: 12% 45% 10% 10% 15%;
  gap: 20px;
  align-items: center;
  background-color: #ffbe6e;
  margin: 0px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav img {
  margin-left: 25px;
}

.searchForm {
  background-color: #FFFBF6;
  padding: 8px 0px 8px 8px;
  border-radius: 5px;
  width: 100%;
}

.formNav {
  display: grid;
  grid-template-columns: 55% 35% 10%;
  justify-content: space-around;
}

.formNav input:focus {
  outline: none;
}

#searchQuery {
  padding: 5px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: #c3cddf 2px solid;
  padding-right: 10px;
}

#location {
  border: none;
  margin-left: 10px;
}

#search {
  border: none;
  background-color: transparent;
  width: fit-content;
  justify-self: center;
  color: #1f2f44;
}

.logo {
  width: 100px;
}

.forBiz {
  display: flex;
  justify-content: end;
  align-items: center;
}

.writeReview {
  display: flex;
  justify-content: end;
}

#caret {
  font-size: 12px;
  margin-top: 3px;
}

.leftNav {
  display: grid;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  width: fit-content;
  grid-column: 5 / 6;
}

.profileAvatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.profile-dropdown {
  position: absolute;
  padding: 20px;
  width: fit-content;
  background-color: #FFFBF6;
  right: 0;
  left: inherit;
  margin-top: 5px;
  margin-right: 50px;
  border-radius: 5px;
  z-index: 2;
}

.profiledropdownoptions {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500 !important;
  color: #1f2f44 !important;
}

.profiledropdownoptions a {
  font-weight: 500 !important;
  color: #1f2f44 !important;
}


.profiledropdownoptions a:hover {
  text-decoration: none !important;
}

.profiledropdownoptions:hover {
  background-color: #c3cddf;
  padding: 10px;
  border-radius: 5px;
}

.forbiz-dropdown {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: fit-content;
  background-color: #FFFBF6;
  margin-top: 183px;
  border-radius: 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

.forBizButton {
  color: #1f2f44;
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
}
