.createBizForm {
  display: flex;
  flex-direction: column;
  max-width: 415px;
  margin: auto;
  padding-top: 30px;
}

.errors {
  color: #c24830;
  font-weight: 500;

}

.inputFields {
  margin-top: 15px;
}
